GtkWindow {
    background-color: black;
    color: white;
    font-size: 500%;
}

GtkLabel#lblTime {
    font-size: 200%;
}

GtkEntry.invalid {
    background-color: #ffaaaa;
    background: #ffaaaa;
}

GtkButton#ok-button {
    background-color: green;
    background: green;
}